@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body{
   background-color: #FFF8EE; 
   font-family: 'Open Sans', sans-serif;
   width: 100%;
   overflow-x: hidden;
}

header{
    height: 20vh;
    margin-bottom: 4rem;
}

.semicircle-1{

    margin: -6rem 0 0 30rem;
    background-color: #FFD900;
    height: 100%;
    width: 13rem;
    border-radius: 100%;

}

.top {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25rem;
    margin-left: 6rem;
    width: 60%;
    margin: 0 auto;
}

.titles {
    flex-grow: 1;
}
.titles h1{
    font-size: 130px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.titles p {
    font-size: 30px;
}

.img {
    flex-grow: 1;
}

.img img {
    height: 32rem;
    margin-top: -100px;
}

.semicircle-2 {
    background-color: #FF5757;
    height: 16rem;
    width: 16rem;
    border-radius: 100%;
    margin-right: -30rem;
}

.alcances{
    background-color: #FFC1D3;
    height: 10rem;
    border-radius: 32px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto 2rem auto;
}

.numbers{
    padding: 40px 12px;
    text-align: center;
    flex-grow: 1;
}

.numbers h3{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}

.numbers p {
    font-size: 18px;
}

.about {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.about > * {
    flex-basis: 50%;
}

.me h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.me p {
    font-size: 18px;
    margin-bottom: 20px;
}

.packages{
    display: flex;
    justify-content: space-between;
}

.img-2 {
    height: 33rem;
    width: 65%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    margin-top: -7rem;
}



.img-2 img{
    height: 40rem;
}


.c-c{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.c-c>*{
    flex-basis: 50%;
}

.collaborations{
padding-right: 20px;
margin: 1rem 0 5em 0;
}

.collaborations h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
    margin: 0 60px 0 30px;
    font-size: 18px;
}

.list ul{
    list-style-type: disc;
}
.list li{
    margin: 20px 0;
}

.contact {
    background-color: #85E0E4;
    border-radius: 42px;
    height: 10rem;
    
}



i{
    margin-right: 30px;
}

.contact li {
    margin: 20px 60px 30px 40px;
    font-size: 20px;
}

.semicircle-3{
    height: 7.5rem;
    width: 16rem;
    border-radius: 300px 300px 0 0;
    background-color: #FFC1D3;
    margin-left: 15%;
}
